@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-v25-latin-regular.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

img {
  width: 36px;
}

main {
  margin: 15px;
}
button {
  background-color: #ffbf69;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background-color: #ff9f1c;
}

button:active {
  background-color: #ff9f1c;
}
.dark-mode {
  background-color: black;
}
