@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/montserrat-v25-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Cookie";
  src: url("/assets/cookie-v17-latin-regular.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf0e4;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #ff8551;
}

header {
  background-color: #9bcdd2;
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  height: 75px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
}

header a {
  all: unset;
  cursor: pointer;
}
