@font-face {
  font-family: "Montserrat";
  src: url("./assets/montserrat-v25-latin-regular.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf0e4;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header {
  background-color: #9bcdd2;
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  height: 75px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
  z-index: 5;
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.3);
}

header a {
  all: unset;
  cursor: pointer;
}

nav {
  background-color: #9bcdd2;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  align-items: center;
  border-radius: 15px 15px 0 0;
}

img {
  width: 36px;
}

.footer-buttons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.footer-buttons:hover {
  background-color: #ff8551;
  border-radius: 25px;
  transform: scale(1.1);
}

.footer-buttons:active {
  background-color: #ff8551;
  border-radius: 25px;
  transform: scale(1.1);
}

.active-footer {
  height: 100%;
  background-color: #ffdede;
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

main {
  margin: 15px;
}

.question-card {
  position: relative;
  background-color: #9bcdd2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 0 15px 0;
  border-radius: 15px;
  gap: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.3);
}

.question-card p {
  text-align: center;
}

.question-card:first-child {
  margin-top: 1.5rem;
}

.question-card .bookmark-button {
  position: absolute;
  top: -15px;
  right: 15px;
  margin: 0;
}

.bookmark-button img {
  width: 20px;
}

.question-card ul {
  list-style-type: none;
  align-self: flex-start;
  margin-left: 15px;
}

.question-card ul li {
  float: left;
  margin-right: 7px;
  font-size: 0.75rem;
  background-color: rgba(255, 255, 255, 50%);
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.question-card ul li:hover {
  background-color: rgba(255, 133, 81, 75%);
}

.question-card ul li:active {
  background-color: rgba(255, 133, 81, 75%);
}

button {
  border: none;
  padding: 10px;
  border-radius: 7px;
  background-color: #ffdede;
  cursor: pointer;
}

button:hover {
  background-color: #ff8551;
}

button:active {
  background-color: #ff8551;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 75%;
  height: 100%;
}

.profile-card {
  gap: 1rem;
}

.profile img {
  width: 64px;
}

.question-card h3 {
  text-align: start;
  width: 85%;
  margin-top: 0;
}

.question-card p {
  width: 85%;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
}

.profile img {
  width: 25px;
  margin-right: 1rem;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
