.card {
  align-items: center;
  background-color: var(--secondary-color);
  background: linear-gradient(
    0deg,
    var(--dark-bg-color) 0%,
    var(--secondary-color) 100%
  );
  border-radius: 15px;
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 35px 0 15px 0;
  position: relative;
}
.card__margin-btm {
  margin-bottom: 4rem;
}
.card__question {
  text-align: center;
  width: 85%;
}
.card:first-child {
  margin-top: 1.5rem;
}
.card__list {
  align-self: flex-start;
  list-style-type: none;
  margin-left: 15px;
}
.card__item {
  background-color: var(--primary-color);
  border-radius: 3px;
  cursor: pointer;
  float: left;
  font-size: 0.75rem;
  margin-right: 7px;
  padding: 3px;
}

.card__item:hover {
  background-color: var(--accent-color-2);
}

.card__item:active {
  background-color: var(--accent-color-2);
}

.card__bookmark-btn {
  transition: all 400ms ease;
  margin: 0;
  position: absolute;
  right: 15px;
  top: -15px;
}
.card__bookmark-btn:active {
  transform: scale(1.1);
  transition: all 400ms ease;
}

.card__bookmark-img {
  width: 20px;
}
.card__profile-title {
  margin-top: 0;
  text-align: start;
  width: 85%;
}
.card__profile {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 75%;
}

.card__profile-img {
  flex-shrink: 0;
  width: 100px;
}
.card__profile-description {
  width: 85%;
}
.card__profile-button {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  color: var(--paragraph-color);
}
.profile-card__settings {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
