:root {
  --bg-color: #f8f0e3;
  --primary-color: #ff8906;
  --secondary-color: rgba(15, 14, 23, 75%);
  --accent-color: #f24f4c;
  --tertiary-color: #e53170;
  --headline-color: #f5f5f4;
  --paragraph-color: #f5f5f4;
  --dark-bg-color: rgb(45, 44, 56);
}
