.header {
  align-items: center;
  background-color: #2ec4b6;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 75px;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}
.header__link {
  all: unset;
  cursor: pointer;
}
