.navbar {
  background-color: #2ec4b6;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  align-items: center;
  border-radius: 15px 15px 0 0;
}
.navbar__btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.navbar__btn:hover {
  background-color: #cbf3f0;
  border-radius: 25px;
  transform: scale(1.1);
}

.navbar__btn:active {
  background-color: #cbf3f0;
  border-radius: 25px;
  transform: scale(1.1);
}
.navbar__btn--active {
  height: 100%;
  background-color: #ffbf69;
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
