.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.profile-card {
  gap: 1rem;
}
.profile img:not(button img) {
  width: 100px;
  flex-shrink: 0;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.profile-card__settings {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
}
