.question-card {
  position: relative;
  background-color: #cbf3f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 0 15px 0;
  border-radius: 15px;
  gap: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.3);
}

.question-card p {
  text-align: center;
}

.question-card:first-child {
  margin-top: 1.5rem;
}
.question-card ul {
  list-style-type: none;
  align-self: flex-start;
  margin-left: 15px;
}

.question-card ul li {
  float: left;
  margin-right: 7px;
  font-size: 0.75rem;
  background-color: #2ec4b6;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.question-card ul li:hover {
  background-color: #ffbf69;
}

.question-card ul li:active {
  background-color: #ffbf69;
}
.question-card h3 {
  text-align: start;
  width: 85%;
  margin-top: 0;
}
.question-card p {
  width: 85%;
}
